* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
.banner {
    width: 1226px;
    height: 460px;
    margin: 100px auto;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.imgs {
    width: 1226px;
    height: 460px;
}
a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1226px;
}
img {
    width: 1226px;
    height: 460px;
}
.dots {
    width: 300px;
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 50px;
}
.dots span {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background: #757575;
    border-radius: 50%;
}
.dots span.active {
    background: #fff;
    border: 2px solid #ff6700;
}
button {
    width: 50px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    background: #757575;
    cursor: pointer;
}
.left {
    left: 0;
}
.right {
    right: 0;
}